
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
logs/
hs_err_pid*

*.db
*.sqlite
.env
*.log

application.yml
application-dev.properties
application-prod.properties

.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

.vscode/
.history/
*.code-workspace


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

*.pem
*.crt
*.key
*.p12
*.jks

*.log
*.err
*.out
hs_err_pid*

docker-compose.override.yml
docker-compose.yml
.dockerignore
.kube/

.DS_Store
Thumbs.db
ehthumbs.db
